* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: burlywood;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: rgb(118, 52, 26);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    text-align: center;
}

.navbar-toggler {
    padding: 0.01rem 0.4rem;
}

.navbar-toggler-icon{
 width: 1rem;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    color: rgb(250, 163, 47);
    font-size: 1.2rem;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
    text-decoration: underline;
    background-color: rgba(250, 162, 47, 0.252);
    transition: 0.7s;
}

.imgCart {
    width: 1.2rem;
}

.contador {
    position: relative;
    bottom: 7px;
    background-color: rgb(250, 163, 47);
    border-radius: 100%;
    display: inline-block;
    width: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    margin-left: -2px;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}

.body-home {
    /* background-image: ""; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 96vh;
}

.card-home {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px;
    background-color: #ffffff80;
}

.card-content-home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-title-home {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.card-description-home {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6347;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-home:hover {
    background-color: #ff4500;
}




.contenedor-cat{
    text-align: center;
}

.btn-cat{
        background-color:  rgb(118, 52, 26);
        color: rgb(250, 163, 47);
        border: unset;
        border-radius: 15px;
        width: 6rem;
        margin-inline: 0.5rem;

}

.contenedor-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: solid black 1px;
    background-color: rgb(137, 83, 13);
    border-radius: 15px;
    display: flex;
    text-align: center;
    width: 15rem;
    height: 25rem;
    margin: 0.5rem;
}

.img-prod{
    border-radius: 15px;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.cuerpo-card{
    padding: 1rem;
}

.producto-agregar{
    background-color:  rgb(118, 52, 26);
    color: rgb(250, 163, 47);
    padding: 0.2rem;
    border: unset;
    border-radius: 15px;
    width: 6rem;
    margin-inline: auto;
}

.cont-det{
    border: solid black 1px;
    margin-top: 10vh;
    display: flex;
    width: 50%;
    height: 30%;
    margin-inline: auto;
    border-radius: 15px;
}

.img-det{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.cuerpo-card-det{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 5%;
    /* padding: 4rem; */
}





/* .card-det{ */
    /* border: solid black 1px; */
    /* width: 70%; */
    /* height: 400px; */
    /* padding: 0.5rem; */
    /* margin: 0.5rem;  */
    /* display: flex; */
    /* flex-wrap: wrap; */
/* }  */



