* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: burlywood;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 0;
}

.container-fluid {
    background-color: rgb(118, 52, 26);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    text-align: center;
}

.navbar-toggler {
    padding: 0.01rem 0.4rem;
}

.navbar-toggler-icon{
 width: 1rem;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    color: rgb(250, 163, 47);
    font-size: 1.2rem;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
    text-decoration: underline;
    background-color: rgba(250, 162, 47, 0.252);
    transition: 0.7s;
}

.imgCart {
    width: 1.2rem;
}

.contador {
    position: relative;
    bottom: 7px;
    background-color: rgb(250, 163, 47);
    border-radius: 100%;
    display: inline-block;
    width: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    margin-left: -2px;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
.contenedor-cat{
    text-align: center;
}

.btn-cat{
        background-color:  rgb(118, 52, 26);
        color: rgb(250, 163, 47);
        border: unset;
        border-radius: 15px;
        width: 6rem;
        margin-inline: 0.5rem;

}

.contenedor-card{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.card{
    border: solid black 1px;
    background-color: rgb(137, 83, 13);
    border-radius: 15px;
    display: flex;
    text-align: center;
    width: 15rem;
    height: 25rem;
    margin: 0.5rem; 
}

.img-prod{
    border-radius: 15px;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.cuerpo-card{
    padding: 1rem;
}

.producto-agregar{
    background-color:  rgb(118, 52, 26);
    color: rgb(250, 163, 47);
    padding: 0.2rem;
    border: unset;
    border-radius: 15px;
    width: 6rem;
    margin-inline: auto;
}

/* .cont-det{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 1rem;
    width: 90%;
    margin-inline: auto;
} */
/* .card-det{
    border: solid black 1px;
    width: 70%;
    height: 400px;
    padding: 0.5rem;
    margin: 0.5rem; 
    display: flex;
    flex-wrap: wrap;
} */



/* .img-prod-det{
    width: 270px;
    height: 200px;
    object-fit: cover;
    align-items: start;
    justify-content: center;
    
} */
